/* #FFC95C; yellow */
/* #0E2B4C; blue */
/* #F4F6FA; grey */
body {
    font-family: "Quicksand", sans-serif;
    font-size: 13pt;
}
.nav-row{
    height: 50px;
}

.container-fluid{
    padding: 0px;
}

/* ------------------- NAV BAR (begin) ------------------- */
/*https://stackoverflow.com/questions/18529274/change-navbar-color-in-twitter-bootstrap-3*/

.navbar-default {
  background-color: white;
  border-color: transparent;
  background-image: none;
  background-repeat: no-repeat;
  font-family:'Roboto Condensed', sans-serif;;
  padding-left: 20px;
  letter-spacing: 3px; /* kerning */
  font-size: 15pt !important;
}

/* -------------------- NAV BAR (end) --------------------- */
body {
    font-family: 'Roboto', sans-serif;
}
.banner {
    min-width: 100%;
    display: block;
    padding-top: 50px;
    background-color: #F4F6FA;
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../images/about/chameleon_blue_white.png');
  text-align: center;
  color: white;
}

.heading {
    color: #0E2B4C;;
    text-align: center;
    font-size: 25pt;
    font-weight: bold;
    background-color: white; /* blue */
    padding-top: 7px;
}

a:visited, a:link, a:active
{
    color: #FFC95C;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: white;
}

.info {
    color: #0E2B4C;;
    text-align: left;
    font-size: 15pt;
    background-color: white;
    padding: 30px 30px 30px 30px;
}
.strip1 {
    height: 5px;
    margin-top: 20px;
}

.strip2 {
    height: 5px;
}
/* #FFC95C; yellow */
/* #0E2B4C; blue */

.skills {
    text-align: center;
    /*color: grey;*/
}

.grey {
    color: grey !important;
}

.white {
    color: white;
}

.centered {
    text-align: center;
}

#resume{
    width: 30%;
    margin: auto;
}

#resume:hover{
    background-color: #D6D3D6;
}

.highlight {
    color: #FFC95C; /* yellow */
    font-size: 18pt;
    font-weight: bold;
}

.header {
    font-size: 18pt;
    font-weight: bold;
}

.blank-header {
    height: 18pt;
}

.kern {
    letter-spacing: 5px;
}

.headshot {
    display: block;
    margin: auto;
    padding: auto;
    margin-bottom: 20px;
    border-radius: 20px;
}

.resume {
    background-color: white;
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    color: #0E2B4C;
}

.round-box {
    background-color: #0E2B4C;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
}

.portfolio {
    padding-left: 30px;
    padding-right: 30px;
}

.portfolio_button {
  display: block;
  margin: 15px auto;
  padding: 10px 10px 10px 10px;
}

.form-control {
    font-size: 20pt;
}

.form_padding {
    padding-left: 50px;
    padding-right: 50px;
}

.form-group {
    width: 100% !important;
}

.send-btn {
    background-color: white;
    color: grey;
    font-size: 14pt;
    margin-bottom: 10px;
}

.social_media {
    height: 100px;
    width: auto;
    padding: 10px 10px 10px 10px;
    color: black;
    width: 70px;
    height: 70px;
}

.footer {
    padding: 5px 20px 5px 20px;
}

.background_yellow {
    background-color: #FFC95C;
}

.background_blue {
    background-color: #0E2B4C;
}

.background_grey {
    background-color: #F4F6FA;
}

.background_white {
    background-color: white;
}

.yellow {
    color: #FFC95C;
}

.blue {
    color: #0E2B4C;
}

.grey {
    color: #F4F6FA;
}

.white {
    color: white;
}

.no_padding{
    padding: 0px 0px 0px 0px;
}


/* #FFC95C; yellow */
/* #FFD276; light yellow */
/* #0E2B4C; blue */
/* #F4F6FA; grey */