.nav-row{
    height: 50px;
}

.container-fluid{
    padding: 0px;
}

/* ------------------- NAV BAR (begin) ------------------- */
/*https://stackoverflow.com/questions/18529274/change-navbar-color-in-twitter-bootstrap-3*/

.navbar-default {
  background-color: white;
  border-color: transparent;
  background-image: none;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  padding-left: 20px;
  letter-spacing: 3px; /* kerning */
  font-size: 15pt !important;
}

/* -------------------- NAV BAR (end) --------------------- */
body {
    font-family: 'Roboto', sans-serif;
}
.banner {
    min-width: 100%;
    display: block;
    padding-top: 15px;
}

.about {
    color: white;
    text-align: center;
    font-size: 25pt;
    font-weight: bold;
    background-color: grey;
}

a:visited, a:link, a:active
{
    color: #FFC95C;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: white;
}

.info {
    color: white;
    text-align: left;
    font-size: 15pt;
    background-color: #0E2B4C;
    padding: 30px 30px 30px 30px;
}

.skills {
    text-align: left;
}

.centered {
    text-align: center;
}

.highlight {
    color: #FFC95C;
    font-size: 18pt;
}
/*
.headshot {
    padding: 25px 25px 25px 25px ;
}*/

.col-sm-6 .headshot {
    display: block;
    margin: auto;
}






